.button {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px 15px;

  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;

  cursor: pointer;

  option {
    background-color: #000;
  }
}

.button:hover {
  border-bottom: 3px solid #9ad4d8;
  padding: 10px 15px;
}
