.container {
  margin: -2rem auto;
  animation: animated 3s;

  z-index: -9999;
}

@keyframes animated {
  0% {
    filter: blur(8px);
  }

  20% {
    filter: blur(12px);
  }

  40% {
    filter: blur(10px);
  }

  70% {
    filter: blur(8px);
  }

  100% {
    filter: blur(0);
  }

  0% {
    filter: blur(0);
  }
}
