.container {
  position: static;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background: #366;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .description {
    line-height: 2rem;
  }

  .links {
    ul {
      list-style: none;
      color: #c0cfcf;

      li {
        line-height: 2rem;
      }
    }
  }
}
.p {
  text-align: center;

  font-size: 10px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
    grid-template-columns: 1fr;

    .links {
      padding-top: 1rem;
    }
  }
}
